.newCollection{
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-top: 40px;
    gap: 10px;
}

.newCollection h1{
    font-size: 45px;
    font-weight: 600;
}

.newCollection hr{
    width: 200px;
    height: 5px;
    border-radius: 10px;
    background: black;
}

.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 25px;
}