.navbar{
    display: flex;
    padding: 16px;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 90px;
}

.nav-logo p{
    font-size: 38px;
    font-weight: 600px;
}

.nav-menu{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(142, 137, 137);
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    height: 3px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(255, 0, 89);
}

.navLoginCart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.navLoginCart button{
    background: none;
    border: 2px solid black;
    width: 120px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    color: black;
}

.link{
    text-decoration: none;
    color: rgb(47, 46, 46);
}

